@font-face {
    font-family: 'Rosemartin';
    src: url('Rosemartin.eot');
    src: url('Rosemartin.eot?#iefix') format('embedded-opentype'),
        url('Rosemartin.woff2') format('woff2'),
        url('Rosemartin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

