@font-face {
    font-family: 'exqt';
    src: url('exqt.eot');
    src: url('exqt.eot?#iefix') format('embedded-opentype'),
        url('exqt.woff2') format('woff2'),
        url('exqt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

